<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>887393BC-4921-4A0C-8954-E4BDEEB6150F</string>
	<key>deviceType</key>
	<string>com.apple.dt.Xcode.IBSimDeviceType.iPad-3x</string>
	<key>name</key>
	<string>IBSimDeviceTypeiPad3x</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.iOS-10-2</string>
	<key>state</key>
	<integer>3</integer>
</dict>
</plist>
