<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>E80F19DA-F681-47D1-9C7A-7D176306E2FC</string>
	<key>deviceType</key>
	<string>com.apple.dt.Xcode.IBSimDeviceType.iPad-1x</string>
	<key>name</key>
	<string>IBSimDeviceTypeiPad1x</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.iOS-9-2</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
